@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;

}
.body  {
    height: 100%;
    width: 100vh;

}
:root{
    --back-colour: #63B4D1;
    --dark-heading: #480355;
    --light-heading: #9448BC;
    --accent-colour: #7699D4;
}

.container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: min(900px, 100% -3rem);
    align-items: center;
    justify-content: center;
    /* background-color: var(--back-colour); */
    /* padding: 25px 25px  25px 25px; */
    /*filter: drop-shadow(0.75em 0.75em 1em);*/
}



.frm{
    margin-top: 4rem;
}

.tbl{
    border-collapse: collapse;
    width: 100%;
}

th,
td{
    padding : 1rem;
    text-align: left;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #480355;
    filter: drop-shadow(0.75em 0.75em 1em);
}

th{
    background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n){
    background: hsl(0 0% 0% / 0.1);
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

.frm input{
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.frm div{
    display: flex;
    margin-bottom: 2rem;
}

.frm input::placeholder{
    font-size: 0.8rem;
}

.frm button{
    padding: 0 1rem;;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--back-colour);
    border: none;
    cursor: pointer;
    color: #fff;
}

/* background */
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #d2b7e1;
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #bda4ca;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 6s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 13vw;
    top: 6vh;
    border-color: #e7c9f7;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 54vw;
    top: 90vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 62vw;
    top: 23vh;
    border-color: #e7c9f7;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 44vw;
    top: 12vh;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 74vw;
    top: 74vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 31vw;
    top: 46vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 26vw;
    top: 87vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 9vw;
    top: 69vh;
    border-color: #e7c9f7;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 89vw;
    top: 38vh;
    border-color: #e7c9f7;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 90vw;
    top: 54vh;
}

.table-container a {
    text-decoration: none;
}